.like-button{
  background-image: url(../../images/like.svg);
  background-color: transparent;
  margin: 0;
  padding: 0;
  width: 22px;
  height: 19px;
  border: none;
  transition: opacity 0.8s ease;
  margin-right: 3px;

}

.like-button:hover{
  opacity: 0.6;
}

@media screen and (max-width: 779px) {
  .like-button{
    margin-right: 5px;
  }

}
